/* 全体設定 */
body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #ffffff;
  color: #555;
}

/* 戻る・キャンセルボタン */
.back,
.cancel {
  position: absolute;
  top: 40px;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  color: #777;
}
.back {
  left: 120px;
}
.cancel {
  right: 40px;
}
.back:hover {
  background-color: #ffffff;
}
.cancel:hover {
  background-color: #ffffff;
}

/* タイトル */
h1 {
  font-size: 28px;
  font-weight: 500;
  margin-left: 160px;
  margin-top: 40px;
  color: #444;
}

.content {
  margin-left: 100px;
  padding: 5px 5px;
}

/*-------------------------------------ここまでテンプレ---------------------------------------*/

/* マイページ項目 */
.mypage-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #d8d8d8;
  padding: 20px;
  margin-top: 7px;
  width: 90%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* aタグの見た目を.mypage-itemと統一 */
.mypage-item a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #444;
}

.mypage-item:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}
